/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  max-width: 450px;
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: #000;
  box-sizing: border-box;
  font-family: sans-serif;
}

.wrapper {
  width: 100vw;
  max-width: 400px;
  position: absolute;
  height: 100%;
  background-color: #cacaca;
}

.bottomnavbar {
  position: fixed;
  width: 400px;
  display: flex;
  height: 55px;
  bottom: 0;
  background-color: #4c4c4c;
}

.bottom_nav_div {
  height: 100%;
  width: 20%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid #363636;
}

.bottom_nav_div:hover {
  background-color: #363636;
}

.material-icons {
  font-size: 30px;
  color: #F4F4F4;
}

.topnavbar {
  position: fixed;
  top: 0;
  height: 50px;
  width: 400px;
  background: linear-gradient(#567ca0, #345d82);
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.username {
  font-weight: bold;
  color: white;
}
.back {
  font-size: 12px;
  padding: 10px;
  padding-left: 5px;
}

.back-a {
  background: linear-gradient(#91acc7,#405574);
  border: solid #2f455a;
  border-width: 1px 1px 1px 0;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  display: inline-block;
  height: 28px;
  line-height: 28px;
  margin-left: 20px;
  margin-right: 2px;
  padding: 0 7px 0 3px;
  position: relative;
  text-decoration: none;
}

.back-a:before {
  background: linear-gradient(135deg ,#91acc7,#405574);
  border: 1px solid #2f455a;
  z-index: -1;
  border-radius: 2px 0 2px 2px;
  content: '';
  display: block;
  height: 19px;
  left: -11px;
  position: absolute;
  top: 3px;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 21px;
}
.back-a:hover+ .back-a::before{
  background: #2f455a;
}
.back-a span {
  color: #fff;
  font-weight: bold;
  position: relative;
}
.share{
  width: 60px;
  display: flex;
  align-items: center;
}
.share a{
  background: linear-gradient(#537c9f,#315278);
  height: 30px;
  width: 40px;
  border: 1px solid #375e82;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.share a:hover{
  background: linear-gradient(#395b79,#243c57);
}
.share a span {
  font-size: 20px;
}
.main{
  width: 100%;
  padding-bottom: 60px;
  background-color: #cacaca;
}
.main .profilecard{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  background-color: #eeeeee;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 8px;
}
.profile1{
  display: flex;
  flex-direction: row;
}
.profilepic{
  height: 100px;
  width: 100px;
  border-radius: 3px;
  background: url("https://artsfuse.org/wp-content/uploads/2010/10/jesse-eisenberg-the-social-network-review.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.profile11{
  display: flex;
  flex-direction: column;
  height: 70%;
  width: calc(100% - 120px);
  margin-left: 10px;
}
.profile111{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.profile111 div {
  text-align: center;
  width: 33.3%;
  margin: auto;
  padding-bottom: 7px;
}
.profile111 div p{
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 18px;
}
.profile111 div span{
  color: #969696;
  font-size: 14px;
}
.profile11 button{
  width: 95%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  background: linear-gradient(#6ab950,#468923);
  border: 1.5px solid #3f7920;
  color: #F4F4F4;
  border-radius: 5px;
  padding-top: 6px;
  padding-bottom: 6px;
  cursor: pointer;
}
.profile11 button:hover{
  background: linear-gradient(#60a14b,#35611d);
}
.profile2{
  margin: 5px;
}
.profile2 p{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 15px;
}
.profile2 #name{
  font-weight: bold;
  font-size: 17px;
}
.profile2 a{
  margin-top: 10px;
  text-decoration: none;
  color: #46739c;
  font-size: 16px;
}
.main .sections{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  background-color: #eeeeee;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  padding: 8px;
  align-items: center;
  padding: 10px;
  color: #000;
}
.sections .material-icons{
  color: #9b9b9b;
  font-size: 35px;
  display: flex;
  margin-right: 7px;
  margin-left: 7px;
  justify-content: center;
}
.sections .material-icons:nth-child(1){
  width: 16%;
  color: #46739c;
}
.sections .material-icons:nth-child(2){
  width: 16%;
}
.sections .material-icons:nth-child(3){
  width: 12%;
}
.sections .material-icons:nth-child(5){
  font-size: 30px;
}
.sections .photomap{
  font-weight: bold;
  color: rgb(39, 39, 39);
}
.posts{
  width: 96%;
  margin: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.posts1{
  display: flex;
  margin-bottom: 5px;
  flex-direction: row;
}
.posts .img{
  width: 31%;
  border: 2px solid #F4F4F4;
  margin-right: 3px;
  margin-left: 2px;
  aspect-ratio: 1 / 1;
}
.about{
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.about a{
  margin-top: 10px;
  text-decoration: none;
  color: #46739c;
  font-size: 16px;
}
@media (max-width: 400px) {
  body{
    width: 100vw;
    height: 100vh;
  }
  .bottomnavbar{
    width: 100vw;
    height: 50px;
  }
  .topnavbar{
    width: 100vw;
  }
}